/* ========================= */
/* RESET */
/* ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background: #f5f7fa;

  color: #333;

  width: 100%;

  overflow-x: hidden;
}

/* ========================= */
/* STICKY HEADER WRAPPER */
/* ========================= */

.header-wrapper {
  position: sticky;

  top: 0;

  left: 0;

  width: 100%;

  z-index: 999;

  background: white;
}

/* ========================= */
/* HERO */
/* ========================= */

#hero {
  background: white;

  padding: 80px 10%;

  transition: 0.4s ease;

  width: 100%;
}

.hero-container {
  display: flex;

  align-items: center;

  justify-content: center;

  gap: 60px;

  transition: 0.4s ease;
}

.profile-image {
  width: 220px;

  height: 220px;

  border-radius: 50%;

  object-fit: cover;

  border: 2px solid black;

  transition: 0.4s ease;
}

.hero-text {
  max-width: 700px;
}

.hero-text h1 {
  font-size: 52px;

  color: #1f2937;

  transition: 0.4s ease;
}

.hero-text h3 {
  color: #0d6efd;
}

.hero-contact {
  transition: 0.4s ease;
}

.hero-contact h3 {
  font-size: 18px;

  font-weight: normal;

  color: #555;

  margin-top: 13px;
}

.hero-contact i {
  color: black;

  width: 25px;

  margin-right: 10px;
}

/* ========================= */
/* NAVBAR */
/* ========================= */

nav {
  background: white;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;

  justify-content: center;

  align-items: center;

  padding: 15px 20px;
}

nav ul {
  display: flex;

  justify-content: center;

  list-style: none;
}

nav li {
  margin: 20px;
}

nav a {
  text-decoration: none;

  color: #333;

  font-weight: bold;
}

nav a:hover {
  color: #0d6efd;
}

/* ========================= */
/* HAMBURGER BUTTON */
/* ========================= */

.menu-toggle {
  display: none;

  background: none;

  border: none;

  font-size: 28px;

  cursor: pointer;
}

/* ========================= */
/* SHRINK HEADER EFFECT */
/* ========================= */

.header-wrapper.shrink #hero {
  padding: 20px 10%;
}

.header-wrapper.shrink .profile-image {
  width: 80px;

  height: 80px;
}

.header-wrapper.shrink .hero-container {
  gap: 20px;
}

.header-wrapper.shrink .hero-text h1 {
  font-size: 28px;
}

.header-wrapper.shrink .hero-contact {
  opacity: 0;

  height: 0;

  overflow: hidden;

  margin: 0;
}

/* ========================= */
/* SECTIONS */
/* ========================= */

section {
  width: 100%;;

  margin: auto;

  padding: 100px 20px;

  scroll-margin-top: 170px;
}

section h2 {
  font-size: 40px;

  margin-bottom: 30px;
}

/* FOOTER */

footer {
  background: #1f2937;

  color: white;

  text-align: center;

  padding: 25px;
}
