/* ========================= */
/* RESET */
/* ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background: #f5f7fa;

  color: #333;

  width: 100%;

  overflow-x: hidden;
}

/* ========================= */
/* STICKY HEADER WRAPPER */
/* ========================= */

.header-wrapper {
  position: sticky;

  top: 0;

  left: 0;

  width: 100%;

  max-width: 100%;

  z-index: 999;

  background: white;
}

/* ========================= */
/* HERO */
/* ========================= */

#hero {
  background: white;

  padding: 80px 10%;

  transition: 0.4s ease;

  width: 100%;
}

.hero-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 60px;

  transition: 0.4s ease;
}

.profile-image {
  width: 220px;

  height: 220px;

  border-radius: 50%;

  object-fit: cover;

  border: 2px solid black;

  transition: 0.4s ease;
}

.hero-text {
  max-width: 700px;
}

.hero-text h1 {
  font-size: 52px;

  color: #1f2937;

  transition: 0.4s ease;
}

.hero-text h3 {
  margin-top: 5px;
  font-size: 18px;
}

.hero-contact {
  transition: 0.4s ease;
}

.hero-contact h3 {
  font-size: 18px;

  font-weight: normal;

  color: #555;

  margin-top: 13px;
}

.hero-contact i {
  color: black;

  width: 25px;

  margin-right: 10px;
}

/* ========================= */
/* NAVBAR */
/* ========================= */

nav {
  position: relative;

  background: white;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 20px;
}

nav ul {
  display: flex;

  justify-content: center;

  list-style: none;
}

nav li {
  margin: 20px;
}

nav a {
  text-decoration: none;

  color: #333;

  font-weight: bold;

  padding: 8px 12px;

  border-radius: 6px;

  transition: 0.4s ease;
}

nav a.active {
  color: #0d6efd;

  border: 2px solid #0d6efd;
}

nav a:hover {
  color: #0d6efd;
}

/* ========================= */
/* HAMBURGER BUTTON */
/* ========================= */

.menu-toggle {
  display: none;

  background: none;
  border: none;

  font-size: 28px;

  cursor: pointer;
}

/* ========================= */
/* SHRINK HEADER EFFECT */
/* ========================= */

.header-wrapper.shrink #hero {
  padding: 20px 10%;
}

.header-wrapper.shrink .profile-image {
  width: 80px;

  height: 80px;
}

.header-wrapper.shrink .hero-container {
  gap: 20px;
}

.header-wrapper.shrink .hero-text h1 {
  font-size: 28px;
}

.header-wrapper.shrink .hero-contact {
  opacity: 0;

  height: 0;

  overflow: hidden;

  margin: 0;
}

/* ========================= */
/* SECTIONS */
/* ========================= */

section {
  max-width: 1200px;
  margin: auto;
  padding: 100px 30px;
  scroll-margin-top: 170px;
}

section h2 {
  font-size: 40px;

  margin-bottom: 30px;
}

/* ========================= */
/* ABOUT SECTION */
/* ========================= */

.about-container {
  width: 100%;
}

.about-text {
  max-width: 100%;
}

.about-text p {
  font-size: 18px;

  line-height: 1.8;

  color: #555;

  margin-bottom: 20px;

  text-align: justify;
}

/* ========================= */
/* SKILLS SECTION */
/* ========================= */

/* SKILLS GRID */
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* SKILL CARD */
.skill-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  border: 1px solid #e5e7eb;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.skill-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.skill-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  color: black;
  font-size: 22px;
}

.skill-title h3 {
  font-size: 22px;
  color: #1f2937;
  margin: 0;
  line-height: 24px;
}

/* SKILL TAGS */
.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-list span {
  background: #f1f5f9;
  color: #333;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 15px;
}

/* ========================= */
/* EXPERIENCE SECTION */
/* ========================= */

.experience-container {
  max-width: 1000px;
  margin: auto;
}

/* EXPERIENCE CARD */

.experience-card {
  background: white;
  padding: 40px;
  border-radius: 12px;

  border: 1px solid #e5e7eb;
  border-left: 5px solid #0d6efd;

  box-shadow:
    4px 4px 0 #b8d7ff,
    0 4px 15px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-5px);

  box-shadow:
    6px 6px 0 #b8d7ff,
    0 8px 20px rgba(0, 0, 0, 0.12);
}

/* PROJECT HEADER */

.experience-label {
  display: inline-block;

  color: #0d6efd;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;

  margin-bottom: 10px;
}

.experience-header h3 {
  font-size: 30px;
  color: #1f2937;

  margin-bottom: 8px;
}

.experience-title-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 20px;
}

.experience-title-row h3 {
  font-size: 30px;
  color: #1f2937;
  margin: 0;
}

.experience-title-row h3 a {
  color: #1f2937;
  text-decoration: none;
}

.experience-title-row h3 a:hover {
  color: #0d6efd;
}

.experience-title-row h3 a i {
  font-size: 16px;
  color: #0d6efd;
  margin-left: 8px;
  vertical-align: middle;
}

.experience-date {
  font-size: 15px;
  color: #777;
  white-space: nowrap;
}

.experience-role {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
  margin-bottom: 3px;
}

/* DIVIDER */

.experience-overview,
.experience-contributions,
.experience-technologies {
  margin-top: 30px;
  padding-top: 25px;

  border-top: 1px solid #e5e7eb;
}

/* SUBHEADINGS */

.experience-card h4 {
  font-size: 18px;
  color: #1f2937;

  margin-bottom: 12px;
}

/* PROJECT OVERVIEW */

.experience-overview p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

/* CONTRIBUTIONS */

.experience-contributions ul {
  padding-left: 20px;
}

.experience-contributions li {
  font-size: 16px;
  line-height: 1.7;
  color: #555;

  margin-bottom: 10px;
}

/* TECHNOLOGY TAGS */

.technology-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.technology-list span {
  background: #f1f5f9;
  color: #333;

  padding: 8px 14px;

  border-radius: 6px;

  font-size: 14px;
}

/* ========================= */
/* PROJECTS SECTION */
/* ========================= */

.projects-container {
  max-width: 1000px;
  margin: auto;
}

/* PROJECT CARD */

.project-card {
  background: white;
  padding: 35px;
  border-radius: 12px;

  border: 1px solid #e5e7eb;
  border-left: 5px solid #0d6efd;

  box-shadow:
    4px 4px 0 #b8d7ff,
    0 4px 15px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);

  box-shadow:
    6px 6px 0 #b8d7ff,
    0 8px 20px rgba(0, 0, 0, 0.12);
}

/* PROJECT HEADER */

.project-title-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 20px;
}

.project-title-row h3 {
  font-size: 28px;
  color: #1f2937;

  margin: 0;
}

.project-title-row h3 span {
  display: block;
}

.project-date {
  font-size: 15px;
  color: #777;

  white-space: nowrap;
}

.project-role {
  font-size: 17px;
  color: #555;

  margin-top: 8px;
}

/* PROJECT CONTENT */

.project-overview,
.project-contributions,
.project-technologies {
  margin-top: 30px;
  padding-top: 25px;

  border-top: 1px solid #e5e7eb;
}

/* SUBHEADINGS */

.project-card h4 {
  font-size: 18px;
  color: #1f2937;

  margin-bottom: 12px;
}

/* PROJECT OVERVIEW */

.project-overview p {
  font-size: 16px;
  line-height: 1.7;

  color: #555;
}

/* PROJECT CONTRIBUTIONS */

.project-contributions ul {
  padding-left: 20px;
}

.project-contributions li {
  font-size: 16px;
  line-height: 1.7;

  color: #555;

  margin-bottom: 10px;
}

/* TECHNOLOGIES */

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-tech-list span {
  background: #f1f5f9;

  color: #333;

  padding: 8px 14px;

  border-radius: 6px;

  font-size: 14px;
}

/* ========================= */
/* CERTIFICATES SECTION */
/* ========================= */

.certificates-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* CERTIFICATE CARD */

.certificate-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;

  border: 1px solid #e5e7eb;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.certificate-card:hover {
  transform: translateY(-5px);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* CERTIFICATE IMAGE */

.certificate-image {
  width: 100%;
  background: #f8fafc;

  padding: 20px;
}

.certificate-image img {
  display: block;

  width: 100%;
  height: auto;

  border-radius: 6px;
}

/* CERTIFICATE INFORMATION */

.certificate-info {
  padding: 25px;
}

.certificate-category {
  display: inline-block;

  font-size: 13px;
  font-weight: bold;

  color: #0d6efd;

  letter-spacing: 1px;

  margin-bottom: 8px;
}

.certificate-info h3 {
  font-size: 21px;
  line-height: 1.4;

  color: #1f2937;

  margin-bottom: 15px;
}

.certificate-platform,
.certificate-instructor,
.certificate-date {
  font-size: 15px;
  color: #555;

  margin-bottom: 5px;
}

.certificate-date {
  color: #777;
  margin-top: 10px;
}

/* CERTIFICATE BUTTON */

.certificate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: fit-content;

  margin: 15px auto 0;

  padding: 9px 16px;

  background: #0d6efd;
  color: white;

  border-radius: 6px;

  font-size: 14px;
  font-weight: 600;

  text-decoration: none;

  transition:
    background 0.3s ease,
    transform 0.3s ease;
}

.certificate-button:hover {
  background: #0b5ed7;
  transform: translateY(-2px);
}

.certificate-button i {
  font-size: 12px;
}

/* ========================= */
/* EDUCATION SECTION */
/* ========================= */

.education-container {
  max-width: 1000px;
  margin: auto;
}

/* EDUCATION CARD */

.education-card {
  background: white;

  padding: 35px;

  border-radius: 12px;

  border: 1px solid #e5e7eb;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.education-card:hover {
  transform: translateY(-5px);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* EDUCATION BADGE */

.education-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 6px 12px;

  background: #f1f5f9;

  color: black;

  border-radius: 6px;

  font-size: 13px;
  font-weight: 600;

  letter-spacing: 0.5px;

  margin-bottom: 18px;
}

.education-badge i {
  font-size: 14px;
}

/* DEGREE */

.education-card h3 {
  font-size: 28px;

  color: #1f2937;

  margin-bottom: 12px;
}

/* INSTITUTION */

.education-institution {
  font-size: 19px;

  font-weight: 600;

  color: #333;

  margin-bottom: 6px;
}

/* SCHOOL */

.education-school {
  font-size: 16px;

  color: #555;

  line-height: 1.6;

  margin-bottom: 15px;
}

/* LOCATION */

.education-location {
  font-size: 15px;

  color: #777;

  margin-bottom: 8px;
}

.education-location i {
  color: black;

  margin-right: 6px;
}

/* DATE */

.education-date {
  font-size: 15px;

  font-weight: 600;

  color: #555;

  margin-top: 15px;
}

/* ========================= */
/* FOOTER*/
/* ========================= */
footer {
  background: #1f2937;

  color: white;

  text-align: center;

  padding: 25px;
}

/* ========================= */
/* OTHER FORMAT*/
/* ========================= */
.light-section {
  background: white;
}

section h2 {
  font-size: 40px;
}

/* ========================= */
/* RESPONSIVE DESIGN */
/* ========================= */
@media (max-width: 900px) {
  .menu-toggle {
    display: block;
    margin-left: auto;
  }

  nav ul {
    display: none;

    position: absolute;

    top: 100%;
    left: 0;

    width: 100%;

    background: white;

    flex-direction: column;

    align-items: center;

    padding: 20px 0;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  nav ul.active {
    display: flex;
  }

  /* Mobile Shrinking Header */
  .header-wrapper.shrink #hero {
    padding: 20px;
  }

  .header-wrapper.shrink .profile-image {
    width: 70px;
    height: 70px;
  }

  .header-wrapper.shrink .hero-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .header-wrapper.shrink .hero-text {
    width: auto;
  }

  .header-wrapper.shrink .hero-text h1 {
    font-size: 22px;
  }

  .header-wrapper.shrink .hero-contact {
    display: none;
  }

  /* Mobile Hero Adjustment */
  .hero-container {
    flex-direction: column;

    text-align: center;

    gap: 25px;
  }

  .profile-image {
    width: 140px;

    height: 140px;
  }

  .hero-text {
    width: 100%;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .hero-contact {
    margin-top: 20px;
  }

  .hero-contact h3 {
    font-size: 16px;
  }

  /* ABOUT SECTION */
  .about-container {
    max-width: 100%;
  }

  .about-text p {
    font-size: 16px;

    line-height: 1.7;

    text-align: left;
  }

  /* SKILLS SECTION */
  .skills-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .skill-card {
    padding: 25px;
  }

  .skill-card h3 {
    font-size: 20px;
  }

  /* EXPERIENCE SECTION */

  .experience-container {
    width: 100%;
  }

  .experience-card {
    padding: 25px;
  }

  .experience-title-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .experience-title-row h3 {
    font-size: 24px;
  }

  .experience-date {
    font-size: 14px;
  }

  .experience-role {
    font-size: 16px;
  }

  /* PROJECTS SECTION */

  .projects-container {
    width: 100%;
  }

  .project-card {
    padding: 25px;
  }

  .project-title-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .project-title-row h3 {
    font-size: 24px;
  }

  .project-date {
    font-size: 14px;
  }

  .project-role {
    font-size: 16px;
  }

  /* CERTIFICATES SECTION */

  .certificates-container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .certificate-info {
    padding: 25px;
  }

  .certificate-info h3 {
    font-size: 20px;
  }

  /* EDUCATION SECTION */

  .education-container {
    width: 100%;
  }

  .education-card {
    padding: 25px;
  }

  .education-card h3 {
    font-size: 24px;
  }

  .education-institution {
    font-size: 18px;
  }

  .education-school {
    font-size: 15px;
  }

  .education-location {
    font-size: 14px;
  }

  .education-date {
    font-size: 14px;
  }
}
